<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>main</title>
</head>
<body>
    <h2>MAIN</h2>
    <%= loginId %>
    <hr>
    <table class="list">
        <thead>
          <tr>
            <th>num</th>
            <th>title</th>
            <th>username</th>
            <th>views</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><a href='/read.html'>title</td>
            <td>username</td>
            <td>views</td>
          </tr>
        </tbody>
      </table>
    <button id="createBtn" onclick="location.href='/create.html'">create</button>
    <button id="logoutBtn" onclick="location.href='/login.html'">logout</button>
</body>
</html>